repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.5.6  # актуальную версию смотри на гитхабе
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format  # форматирование как black-замена, можно убрать если юзаешь black
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
