services:
  db:
    image: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: ciuser
      POSTGRES_PASSWORD: cipassword
      POSTGRES_DB: cidb
    ports:
      - "5432:5432"
    volumes:
      - db_data:/var/lib/postgresql

  web:
    build: .
    command: uvicorn main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./:/app
    ports:
      - "8000:8000"
    env_file:
      - .env.dev
    depends_on:
      - db

volumes:
  db_data:
