[tool.ruff]
line-length = 100
target-version = "py310"
ignore = ["E501", "B008","B904", "UP035", "F401", "E402", "E741"]

[tool.black]
line-length = 100
target-version = ["py310"]

[tool.isort]
profile = "black"
line_length = 100

extend-exclude = "^(mlcourse|\\.venv|venv|env|node_modules)/"
