fastapi
uvicorn
hugchat
requests
feedparser
python-multipart
sqlalchemy
psycopg2-binary
jinja2
python-docx
PyMuPDF
faiss-cpu
sentence-transformers
langchain-core
PyJWT>=2.10,<3
pydantic-settings
alembic==1.17.2
