У меня есть модуль "{{ module_title }}" в курсе "{{ course_name }}".
Для этого модуля нужно создать {{ lessons_per_section }} уроков.
Для каждого урока сгенерируй:
- Заголовок (title)
- Краткое описание (description)

Верни результат в формате JSON, например:
{
  "lessons": [
    {
      "title": "Название урока 1",
      "description": "Краткое описание урока 1"
    },
    {
      "title": "Название урока 2",
      "description": "Краткое описание урока 2"
    }
    // и так далее...
  ]
}
